.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    min-width: 90%;
}

.image {
    border-radius: 10px;
    /* width: 100px;
    height: 100px; */
}